@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Kablammo&family=Mada:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Noto+Kufi+Arabic:wght@100;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

:root {
  --mainColor: #56A08F;
  --secondColor: #56a08f5e;
  --submain: white
}

.flex {
  display: flex;
}

h1 {
  font-size: 40px;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.btn-main,
.btn-main:hover,
.btn-second,
.btn-second:hover,
.btn.btn-submain {
  background: var(--mainColor);
  color: var(--submain);
  ;
  border-radius: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 10px 16px;
}

.btn-second {
  background: var(--secondColor);
  color: var(--mainColor);
}

.btn-main:hover {
  background: var(--secondColor);
  color: var(--mainColor);
}

.btn.btn-submain {
  background: transparent;
  color: var(--submain);
  border: 1px solid var(--submain);

}

.color-main {
  color: var(--mainColor)
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  color: black;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

p.color-black {
  color: black;
}

.justify-space-between {
  justify-content: space-between;
}

/****scrollTop***/
.contentDiv {
  width: 300px;
  height: 1000px;
  background-color: var(--mainColor);
}

button.back-to-top {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
  bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
  outline: 0 !important;
}

button.back-to-top::before,
button.back-to-top::after {
  content: "";
  display: block;
  vertical-align: middle;
  border-bottom: solid 10px var(--mainColor);
  border-left: solid 10px transparent;
  line-height: 0;
  border-right: solid 10px transparent;
  height: 0;
  margin: 18px auto 0;
  width: 0;
  border-radius: 20px;
  visibility: hidden;
}

button.back-to-top.show::after,
button.back-to-top.show::before {
  visibility: visible;
}

button.back-to-top::after {
  border-bottom-color: #fff;
  position: relative;
  top: -24px;
}

button.back-to-top.show {
  display: block;
  background: #fff;
  color: var(--mainColor);
  font-size: 25px;
  right: 25px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.form-control {
  direction: inherit;
  border-radius: 10px;
  height: 45px;
  width: 100%;
}

textarea.form-control {
  height: auto;
}

.form-control:focus {
  box-shadow: none
}

.justify-content-space-between {
  justify-content: space-between;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  direction: ltr;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.border_span {
  background: linear-gradient(90deg, #00AFEE 0%, #01E3A1 100%);
  height: 4px;
  width: 15%;
  margin-bottom: 10px;
}

a {
  text-decoration: none !important;
}

a:active {
  border: 0px;
  color: initial !important;
}

button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: 0px 0px 0px;
}

.btn-shopping {
  text-align: center;
  display: block;
  padding: 15px 50px;
  color: var(--submain);
  ;
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, #FF3858 128.53%);
  box-shadow: 0px 17px 33px -2px rgba(223, 0, 36, 0.08);
  border-radius: 10px;
  width: 100%;
}


input:focus {
  box-shadow: 0px 0px 0px 0px !important;
}


p {
  font-size: 16px;
  color: #7B858F;
  line-height: 2;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #f4f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-color: var(--mainColor) transparent var(--mainColor) transparent;
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--mainColor);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

/* Navbar */
.navbar {
  gap: 150px;
  /* padding: 10px; */
}

.navbar .navbar-brand img {
  max-width: 90px;
}

.navbar .navbar-collapse {
  justify-content: center;
  font-weight: 500;
}

.navbar .navbar-btns {
  color: #04233a;
}

.navbar .navbar-btns select {
  border: none;
  background: var(--submain);
  ;
}


.navbar .navbar-nav .navbar-btns {
  display: none;
}

.navbar .navbar-btns .login_link {

  color: var(--mainColor);

  font-weight: 600;
}

.navbar .navbar-btns .btn-signup {
  background: linear-gradient(258.9deg, var(--mainColor) -6.31%, var(--mainColor) 128.53%);
  border-radius: 10px;
  color: var(--submain);
  ;
  margin-left: 20px;
}

.navbar .navbar-btns .btn-signup:hover {
  background: var(--submain);
  ;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

.navbar .navbar-nav .nav-link {
  font-weight: normal;
  color: #04233a;
  padding: 15px 15px 5px;
  font-size: 16px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  font-weight: 600;
  color: var(--mainColor);
}

.navbar .navbar-btns-icons img {
  width: 35px;
  height: 35px;
  margin: 0px 5px;
  vertical-align: middle;
}

.navbar .navbar-btns-icons .img-profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 30px;
}

.navbar .dropdown-toggle {
  background: var(--submain) !important;
  color: black;
  border: 0px;
  margin: 0px 35px;
}

.navbar .dropdown-item.active,
.dropdown-item:active {
  background-color: var(--mainColor);
  color: var(--submain) !important;
}

/*******************Homepage************************/

/******modal*********/

.modal-header {
  background: transparent;
  border: 0px;
  padding: 0px;
}

.modal-header .close,
.msger-header-options .close {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  left: 10px;
  top: 17px;
  z-index: 999;
}

.modal-body {
  padding: 40px;
}

.modal-body .btn-main {
  width: 100%;
}

/****lines_title***/
#lines_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--mainColor);
  margin-bottom: 20px;
}

#lines_title .line {
  background: var(--mainColor);
  width: 50px;
  height: 2px;
  margin: 0px 10px;
}

/****header***/
header {
  padding-bottom: 100px;
  padding-top: 70px;
  background: url(../assets/header.svg) no-repeat center center;
  background-size: cover;
  height: 800px;
  position: relative;
}

.line_Gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  top: 0px;
  left: 0px;
}

header img {
  width: 95%;
}

header .content {
  padding-top: 120px;
  padding-left: 5%;
  position: relative;
}

header h1 {
  margin-bottom: 20px;
  color: var(--submain);
  ;
}

header p {
  color: var(--submain);
}

header button {
  margin-top: 20px;
  margin-right: 10px;
}

.icons_social {
  display: flex;
}

.icons_social li {
  color: var(--submain);
  margin-right: 15px;
  flex-direction: row;
}

/***OurPartners*****/
.OurPartners {
  margin-top: 150px;
  text-align: center;
}

.OurPartners h5 {
  margin-bottom: 20px;
}

.OurPartners .Partners li {
  margin: 25px 0px;
}

.OurPartners .Partners li img {
  width: 80%;
}

.OurPartners .sec_about li img {
  width: 80%;
}

/***About-Us*****/
.About-Us {
  margin-top: 150px;
}

.About-Us .content_back {
  width: 80%;
  margin-left: auto;
  object-fit: contain;
}

.About-Us .content_back img {
  width: 100%;
}

.About-Us .row {
  display: flex;
  align-items: center;
}

.About-Us .sec_about {
  margin-top: 70px;
}

.About-Us .sec_about .top img {
  width: 90%;
}

.About-Us .sec_about .card {
  width: 80%;
  margin: auto;
  margin-top: -70px;
  border: 0px;
}

.About-Us .sec_about .card .icon {
  margin: -40px auto 15px;
  background-color: rgba(238, 246, 244, 1);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 90px;
  height: 90px;
  padding: 20px 15px;
}


.About-Us .sec_about .card .icon img {
  width: 80%;
}

/***Works*****/
.Works {
  margin-top: 150px;
}

.Works #lines_title {
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}

.Works .Works_sec img {
  width: 80px;
  height: 150px;
}

.Works .Works_sec p {
  font-size: 15px;
}

/* .Demonstration */
.Demonstration {
  margin-top: 150px;
}

.Demonstration .video_wrapper {
  position: relative;
}

.Demonstration .video_wrapper p {
  width: 50%;
  margin: 0 auto;
  color: #5A5D61;
  text-align: center;
}

.Demonstration .video_wrapper .header h1 {
  color: var(--primary);
  text-align: center;
}

.Demonstration .video_wrapper #icon_play {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 100;
  cursor: pointer;
}

.Demonstration .video_wrapper .watch_video {
  width: 100%;
  margin: 0 auto;
  height: 600px;
}

.Demonstration .video_wrapper .video_wrap .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.Demonstration .video_wrapper .video_wrap .overlay .close {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 5%;
}

.Demonstration .video_wrapper .video_wrap .overlay .close img {
  /*position: absolute;
  */
  width: 16px;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.Demonstration .video_wrapper .video_wrap .video {
  width: 80%;
  height: 80%;
  margin: 4% auto;
}

.Demonstration .video_wrapper video {
  width: 100%;
}

/***Prominent*****/
.Prominent {
  margin-top: 150px;
}

.Prominent #lines_title {
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}

.Prominent .content_img img {
  width: 80%;
  margin-left: auto;
}

.Prominent .content .row {
  align-items: center;
}


.Prominent .sec_contents {
  margin-top: 100px;
}

.Prominent .checkboxes_div li {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
  margin-top: 5px;
}

.Prominent .sec_center {
  text-align: center;
}

.Prominent .sec_center .sec_center_img {
  padding-top: 50px;
}

.Prominent .sec_center .sec_center_img img {
  width: 80%;
}

.Prominent .sec_center .checkboxes_div {
  justify-content: start;
  width: max-content;
  margin: auto;
}

.Prominent .checkboxes_div li label {
  font-size: 15px;
  color: rgba(90, 93, 97, 1);
}

.Prominent .checkboxes_div li input {
  margin-top: 10px;
  accent-color: var(--mainColor);
  margin-right: 10px;
  min-width: 16px !important;
  min-height: 16px !important;
}

/***Our-Community*****/
.Our-Community {
  margin-top: 150px;
}

.Our-Community #lines_title {
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}

.Our-Community .Community_sec {
  margin-top: 50px;
}

.Our-Community .Community_sec img {
  width: 70%;
  margin: auto;
  display: block;
  margin-bottom: 100px;
}

/***Testimonials*****/
.Testimonials .card {
  padding: 20px;
  margin: 10px;
}

.Testimonials .card p {
  font-size: 15px;
}

.Testimonials .card .writer {
  align-items: flex-start;
}

.Testimonials .card .writer img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/***Information****/
.Information {
  margin-top: 150px;
}


.Information #lines_title {
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}

.Information .Information_sec {
  width: 80%;
  margin: auto;
}


.Information .Information_sec .content {
  margin-bottom: 50px;
}

/***Contact****/
.Contact {
  margin-top: 150px;
}

.Contact .Contact_sec {
  align-items: center;
  display: flex;
}

.Contact .content img {
  width: 80%;
}

.Contact .contentForm {
  text-align: left;
  margin-left: -200px;
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


/***footer****/
footer {
  background: var(--mainColor);
  color: var(--submain);
  padding: 30px 0px 50px;
  margin-top: 150px;
}


footer p {
  color: white;
}

footer .icons_social {
  justify-content: center;
}

footer form button {
  font-size: 14px;
}

/* Animation */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/****media****/

@media screen and (max-width: 992px) {
  h1 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .navbar .navbar-btns-icons {
    display: none !important;
  }

  .navbar .navbar-nav .navbar-btns {
    display: block;
  }

  .navbar .navbar-collapse {
    margin: 0px;
    text-align: center;
    box-shadow: rgba(177, 177, 177, 0.22) 8px 37px 26px 10px;
  }

  .navbar .navbar-collapse .navbar-btns {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar .navbar-collapse .navbar-btns a {
    display: inline-block !important;
    width: 33%;
  }

  .navbar .dropdown-toggle {
    margin-bottom: 20px;
  }

  header .content {
    text-align: center;
    padding-top: 0px;
  }

  header .content-img {
    margin-top: 80px;
  }

  .icons_social {
    justify-content: center;
  }

  .OurPartners .Partners li {
    display: inline-block;
    width: 50%;
  }

  .About-Us .content_back {
    width: 100%;
    margin-top: 50px;
  }

  .About-Us .sec_about .card {
    margin-bottom: 50px;
  }

  .Demonstration .video_wrapper .watch_video {
    height: 100%;
  }

  .Demonstration .video_wrapper #icon_play {
    left: 40%;
    top: 16%;
  }

  .Information .Information_sec {
    width: 100%;
  }

  .slick-slider {
    margin: 0px;
  }

  .Contact .contentForm {
    margin-left: 0px;
  }

  footer form button {
    font-size: 14px;
    margin-top: 20px;
  }

  footer form .row {
    margin: auto;
  }

  footer .para_footer>div {
    margin-bottom: 30px;
  }

  #lines_title {
    flex-direction: column;
    width: 100% !important;
  }

  #lines_title h4 {
    padding: 20px 0px;
  }

  .Prominent .sec_center .sec_center_img {
    margin-bottom: 50px;
  }

  .Prominent .checkboxes_div li {
    display: block;
  }

  .Prominent .sec_center .checkboxes_div {
    width: 100%;
  }

  .Contact .contentForm {
    padding: 10px;
  }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .navbar .container {
    max-width: 100% !important;
  }

  .navbar .navbar-btns .btn-signup {
    margin-right: 5px;
  }

  .navbar .navbar-collapse {
    margin: 0px;
  }

  .navbar .navbar-nav .nav-link {
    padding: 8px;
  }

  .modal.fade .modal-dialog {
    max-width: 80%;
  }

  /* .Partners {
    flex-direction: row;
    width: 50%;
    text-align: center;
  }

  .Partners li {
    margin: 25px 0px;
  } */

}

@media screen and (min-width: 1201px) and (max-width: 1485px) {

  .modal.fade .modal-dialog {
    max-width: 70%;
  }
}

@media screen and (min-width: 1274px) {
  .navbar .navbar-collapse {
    margin-right: 50px;
  }

  .navbar .navbar-nav .nav-link {
    margin-left: 20px;
  }
}